<!DOCTYPE html>
<html>
<head>
<title>Home</title>

<style>
body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    margin: 15px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}
</style>

</head>

<body>

<div class="container">
    <h1>SATSANG LIST SYSTEM</h1>

    <button onclick="location.href='/create'">Create List</button>
    <button onclick="location.href='/storage'">View Lists</button>
</div>

</body>
</html>